[Desktop Entry]
Name=What I did yesterday
Comment=What I did yesterday
Exec=/home/mic/Code/Personal/platypus-timetrack/pomodoro-yesterday.sh
Icon=question
Terminal=false
Type=Application
Categories=Productivity;
