[Desktop Entry]
Name=Pomodoro Start
Comment=start pomodoro timer
Exec=/usr/bin/python3 $CONFIG_HOME/github/i3-gnome-pomodoro/pomodoro-client.py start
Icon=media-playback-start
Terminal=false
Type=Application
Categories=Productivity;
